# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Fichiers de build
dist/
build/
*.min.js
*.min.css

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Fichiers de log
*.log
logs/
debug.log

# Fichiers de cache
.cache/
.temp/
.tmp/ 